.container {
    width: 300px;
    height: 510px;
    border-radius: 35px;
    box-shadow: inset 0 0 25px black;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    -webkit-box-reflect: below 2px linear-gradient(transparent 80%, rgba(0, 0, 0, 0.6));
}